.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: top;
  justify-content: top;
}

.App-header {
  font-size: calc(10px + 2vmin);
}

.title {
  font-size: calc(5px + 2vmin);
}

.App-link {
  color: #61dafb;
}

.a {
  background-color: green;
}

.b {
  background-color: red;
}

.c {
  background-color: orange;
}

.d {
  background-color: violet;
}

.scores-row {
  width: auto;
  border: 1px solid blue; 
}

.scores-top {
  flex-grow: 1;
}

.scores-bottom {
  flex-grow: 3;
}

.scoreColumn {
  height: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.scores {
  display: flex;
  flex-direction: column;
  height: 100px;
  align-items: center;
  justify-content: center;
}

.scoresTopRow {
  flex-grow: 1;
  border: 1px solid red;  
}

.scoresBottomRow {
  flex-grow: 3;
  border: 1px solid blue;   
  flex-direction: column;
}

.scoreItem { 
  border: 1px solid orange;     
}

.flexItem {
  padding: 5px;
  margin: 10px;
  line-height: 40px;
  font-size: 1em;
  text-align: center;
}

.gray {
  color: grey;
}