.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: top;
  justify-content: top;
  background-color: black;
}

.App-header {
  font-size: calc(10px + 2vmin);
  color: white;
}

.title {
  font-size: calc(5px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.a {
  background-color: green;
}

.b {
  background-color: red;
}

.c {
  background-color: orange;
}

.d {
  background-color: violet;
}

.scores {
  width: 300px;
    
    align-content: center;
    justify-content: center;
    align-items: center;
    
}

.flexContainer {
  height: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.row {
  width: auto;
  border: 1px solid blue;
}

.flexItem {
  padding: 5px;
  margin: 10px;
  line-height: 40px;
  color: white;
  font-size: 1em;
  text-align: center;
}

.flexItemGray {
  color: grey;
}